{% extends "pages/index.html" %}
{% block content %}
<h3>EC2 Options</h3>
<div class="row">
  <div class="col-md-3">
    <a class="btn btn-success" href="/ec2/describe_instances"><span class="glyphicon glyphicon-eye-open"></span> Describe Instances</a>
  </div>
  <div class="col-md-3">
    <a class="btn btn-success" href="/ec2/running_instances"><span class="glyphicon glyphicon-play"></span> Running Instances</a>
  </div>
  <div class="col-md-3">
    <a class="btn btn-success" href="/ec2/manage_instances"><span class="glyphicon glyphicon-pencil"></span> Manage Instances</a>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}