{% extends "pages/menu.html" %}
{% block content %}
<h3>EC2 Options</h3>
<div class="row">
  <div class="col"></div>
  <div class="col"><a href="#" class="btn btn-success">Create New Instance</a></div>
</div>
<div class="row">
  <div class="col">
    <a class="btn btn-success" href="/ec2/describe_instances"><span class="glyphicon glyphicon-eye-open"></span> Describe Instances</a>
  </div>
  <div class="col">
    <a class="btn btn-success" href="/ec2/running_instances"><span class="glyphicon glyphicon-play"></span> Running Instances</a>
  </div>
  <div class="col">
    <a class="btn btn-success" href="/ec2/manage_instances"><span class="glyphicon glyphicon-pencil"></span> Manage Instances</a>
  </div>
  <div class="col"></div>
</div>
{% endblock %}